.menu-step {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow: auto;
}

.menu-content {
  text-align: center;
  max-width: 1000px;
  background: #ECE9D8; /* XP window background */
  padding: 1rem;
  border: 1px solid #004E98;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

.menu-content h2 {
  margin-bottom: 1rem;
  color: #01182e;
  padding: 0.5rem;
  border-bottom: 1px solid #ACA899;
}

.game-steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 1.5rem 0;
}


/*.step {
  background: #F5F5F5;
  padding: 1rem;
  border: 1px solid #ACA899;
  border-radius: 4px;
  text-align: center;
  box-shadow: inset -1px -1px #FFFFFF, inset 1px 1px #808080;
}

.step h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem; 
  color: #1b3044;
}

.step p {
  font-size: 1rem;
  opacity: 0.9;
  margin: 0;
}*/

.start-button {
  background: #ECE9D8;
  border: 1px solid #004E98;
  color: black;
  font-family: "Jersey 10", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px #fff, -1px -1px #666;
  transition: all 0.1s ease;
}

.start-button p {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

.start-button:hover {
  background: #E0DED1;
}

.start-button:active {
  box-shadow: inset 1px 1px #fff, inset -1px -1px #666;
}