.wallpaper {
    height: 100%;
    display: block;
    position: relative;
}

.computer-apps {
    display: flex;
    column-gap: 10vh;
    row-gap: 5vw;
    flex-wrap: wrap;
    padding: 3vw;
    position: relative;
}

img {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}