.wallpaper {
    display: block;
    height: 100vh;
    background-image: url('../../../assets/windows.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    padding-top: 0;
    margin-top: 60px;
    font-size: 3em;
    color: black;
}

.computer-apps {
    display: flex;
    column-gap: 10em;
    row-gap: 5em;
    flex-wrap: wrap;
    padding: 5em;
}