.task-container {
    display: flex;
    align-items: center;
    margin-left: 11.5vw;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 76vw;
    height: 4vh;
}

.task-back {
    background-image: url("../../../assets/BarreDeTaches.png");
    background-repeat: no-repeat;
    background-size: 100% 4vh;
    background-position: bottom;
    display: flex;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 4vh;
}