:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-image: url('../../../assets/windows.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
    padding-top: 15%;
    font-size: 3em;
    color: black;
}