.screen-container {
    width: 100vw;
    height: 100vh;
    border: 1vh solid #4a505b;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}