.icon-container {
    height: 12em;
    width: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 12px;
    padding: 10px;     
    border: 2px solid transparent;
}

.icon-container:hover {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(4px);
    transform: translateY(-5px) scale(1.05);    
    border-color: rgba(255, 255, 255, 0.3);
}

.icon-container:active {
    transform: scale(0.95);
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.05s;
}

img {
    max-width: 70%;
    height: auto;
}

h4 {
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1em;
    color: whitesmoke;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}