.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 96%;
}