:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.gm4html5_div_class {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.game-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#canvas {
    aspect-ratio: 16 / 9;
    width: 100% !important;
    height: auto !important;
    max-height: 100%;
    max-width: 177.78vh;
}