<h1>The Basic but Ultra Captivating Story of a Developer's Daily Life</h1>

<p>
Vous êtes Bucs, un agent en mission pour découvrir le trésor caché.
Mais ici, le trésor se trouve au cœur du code.

Dans Bucs DDL, chaque épreuve vous initie aux bases du métier de développeur : écrire un code clair, bien le formater, utiliser un gestionnaire de versions et comprendre l’environnement d’un projet.

Préparez votre terminal. L'aventure commence.
</p>

<div class="btn-wrap">
  <button (click)="onFullscreenClick()" routerLink="/jeu" id="play">Commencer l'aventure</button>
</div>
