name: Build and Deploy Angular
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout 
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npx ng build --configuration production --base-href /Projet-ZZ2/

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/projet-zz2/browser
          branch: gh-pages